# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

<b>Dependencies and Setup</b>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

<b>Import API key</b>

In [2]:
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_file = "../WeatherPy/WeatherOutput/city_weather_main.csv"

In [4]:
city_weather_df = pd.read_csv(weather_file)
city_weather_df.head()

,City,Country,Latitude,Longitude,Cloudiness,Date,Wind,Humidity,Max Temp
0,Krasnosel'kup,RU,65.70,82.47,100,1608498733,4.05,92,-2.09
1,Thompson,CA,55.74,-97.86,90,1608498733,4.70,69,-9.40
2,Albany,US,42.60,-73.97,100,1608498660,1.01,73,32.00
3,Atuona,PF,-9.80,-139.03,35,1608498734,16.91,76,78.71
4,Pozo Colorado,PY,-23.49,-58.80,100,1608498734,11.52,70,81.03

### Humidity Heatmap

<b>Configure gmaps</b>

In [23]:
gmaps.configure(api_key=g_key)

<b>Use the Lat and Lng as locations and Humidity as the weight.</b>

In [24]:
locations = city_weather_df[['Latitude', 'Longitude']]

rating = city_weather_df['Humidity'].astype(float)

<b>Add Heatmap layer to map</b>

In [25]:
# Adding Heatmap coding

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)
plt.savefig('images/cityheatmap')
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

<b>Narrow down the cities to fit weather conditions.</b>

In [8]:
# I used the given conditions of between 70 & 80 degrees, less the 10 mph and 0& humidity.

perfect_weather_df = city_weather_df

perfect_weather_df = perfect_weather_df.loc[(perfect_weather_df["Max Temp"] < 80) &
                                           (perfect_weather_df['Max Temp'] > 70)]

perfect_weather_df = perfect_weather_df.loc[perfect_weather_df["Wind"] < 10]
                                            
perfect_weather_df = perfect_weather_df.loc[perfect_weather_df["Cloudiness"] == 0]
                                            
perfect_weather_df

,City,Country,Latitude,Longitude,Cloudiness,Date,Wind,Humidity,Max Temp
32,Chake Chake,TZ,-5.25,39.77,0,1608498739,6.82,86,78.19
103,Viedma,AR,-40.81,-63.00,0,1608498781,1.99,33,77.00
120,Salalah,OM,17.02,54.09,0,1608498784,9.17,38,77.00
133,East London,ZA,-33.02,27.91,0,1608498676,1.83,87,72.77
174,San Rafael,AR,-34.62,-68.33,0,1608498806,9.64,25,77.23
178,Saint-Philippe,RE,-21.36,55.77,0,1608498809,8.05,83,77.00
190,Kaduqli,SD,11.02,29.72,0,1608498826,7.29,32,73.99
197,Gouré,NE,13.98,10.27,0,1608498828,4.00,21,73.99
303,Morro Bay,US,35.37,-120.85,0,1608498877,5.01,29,75.00
319,Abu Dhabi,AE,24.47,54.37,0,1608498610,3.36,53,71.60
387,Young,UY,-32.68,-57.63,0,1608498935,5.01,35,78.01
424,Bonthe,SL,7.53,-12.51,0,1608498960,6.20,78,79.54
435,Umluj,SA,25.02,37.27,0,1608498962,9.84,58,73.80
493,Ratnagiri,IN,16.98,73.30,0,1608498988,5.44,43,72.16
524,Dédougou,BF,12.47,-3.47,0,1608499009,6.96,19,78.33
547,Kongoussi,BF,13.33,-1.53,0,1608499013,8.97,21,77.52

<b>Drop any rows will null values.</b>

In [9]:
# Skipping as there are no null columns

### Hotel Map

<b>Store into variable named `hotel_df`.</b>

In [10]:
# DataFrame should need not change other than the name

hotel_df = perfect_weather_df
hotel_df

,City,Country,Latitude,Longitude,Cloudiness,Date,Wind,Humidity,Max Temp
32,Chake Chake,TZ,-5.25,39.77,0,1608498739,6.82,86,78.19
103,Viedma,AR,-40.81,-63.00,0,1608498781,1.99,33,77.00
120,Salalah,OM,17.02,54.09,0,1608498784,9.17,38,77.00
133,East London,ZA,-33.02,27.91,0,1608498676,1.83,87,72.77
174,San Rafael,AR,-34.62,-68.33,0,1608498806,9.64,25,77.23
178,Saint-Philippe,RE,-21.36,55.77,0,1608498809,8.05,83,77.00
190,Kaduqli,SD,11.02,29.72,0,1608498826,7.29,32,73.99
197,Gouré,NE,13.98,10.27,0,1608498828,4.00,21,73.99
303,Morro Bay,US,35.37,-120.85,0,1608498877,5.01,29,75.00
319,Abu Dhabi,AE,24.47,54.37,0,1608498610,3.36,53,71.60
387,Young,UY,-32.68,-57.63,0,1608498935,5.01,35,78.01
424,Bonthe,SL,7.53,-12.51,0,1608498960,6.20,78,79.54
435,Umluj,SA,25.02,37.27,0,1608498962,9.84,58,73.80
493,Ratnagiri,IN,16.98,73.30,0,1608498988,5.44,43,72.16
524,Dédougou,BF,12.47,-3.47,0,1608499009,6.96,19,78.33
547,Kongoussi,BF,13.33,-1.53,0,1608499013,8.97,21,77.52

<b>Add a "Hotel Name" column to the DataFrame.</b>

In [11]:
# Created blank column for the hotel names

hotel_df['Hotel Name'] = ""
hotel_df

,City,Country,Latitude,Longitude,Cloudiness,Date,Wind,Humidity,Max Temp,Hotel Name
32,Chake Chake,TZ,-5.25,39.77,0,1608498739,6.82,86,78.19,
103,Viedma,AR,-40.81,-63.00,0,1608498781,1.99,33,77.00,
120,Salalah,OM,17.02,54.09,0,1608498784,9.17,38,77.00,
133,East London,ZA,-33.02,27.91,0,1608498676,1.83,87,72.77,
174,San Rafael,AR,-34.62,-68.33,0,1608498806,9.64,25,77.23,
178,Saint-Philippe,RE,-21.36,55.77,0,1608498809,8.05,83,77.00,
190,Kaduqli,SD,11.02,29.72,0,1608498826,7.29,32,73.99,
197,Gouré,NE,13.98,10.27,0,1608498828,4.00,21,73.99,
303,Morro Bay,US,35.37,-120.85,0,1608498877,5.01,29,75.00,
319,Abu Dhabi,AE,24.47,54.37,0,1608498610,3.36,53,71.60,
387,Young,UY,-32.68,-57.63,0,1608498935,5.01,35,78.01,
424,Bonthe,SL,7.53,-12.51,0,1608498960,6.20,78,79.54,
435,Umluj,SA,25.02,37.27,0,1608498962,9.84,58,73.80,
493,Ratnagiri,IN,16.98,73.30,0,1608498988,5.44,43,72.16,
524,Dédougou,BF,12.47,-3.47,0,1608499009,6.96,19,78.33,
547,Kongoussi,BF,13.33,-1.53,0,1608499013,8.97,21,77.52,

<b>Set parameters to search for hotels with 5000 meters.</b>

In [12]:
params = {'radius': 5000, 'types': 'lodging', 'key': g_key, 'keyword': 'hotel'}

<b>Hit the Google Places API for each city's coordinates.</b>

In [14]:
# Creating for loop to gather API informatation

for index, row in hotel_df.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']
    city = row['City']
    
    params['location'] = f'{latitude},{longitude}'
    
    google_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(google_url, params=params).json()
    
    hotel_data = response['results']
    #hotel_name = hotel_data[0]['name']
    
    try:
        hotel_name = hotel_data[0]['name']
        print(f'The closest hotel to {city} is {hotel_name}.')
        #print(f"The Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = hotel_data[0]['name']

    except:
        print("Missing data...Skipping.")
        
    print('------------------------------')
    
    #hotel_data

The closest hotel to Chake Chake is Pemba Island Hotel.
------------------------------
The closest hotel to Viedma is Hotel Austral Viedma.
------------------------------
The closest hotel to Salalah is InterCityHotel Salalah.
------------------------------
The closest hotel to East London is Blue Lagoon Hotel.
------------------------------
The closest hotel to San Rafael is Tower Inn Hotel & Suites Casino Spa Convention Center.
------------------------------
The closest hotel to Saint-Philippe is Les Embruns Du Baril.
------------------------------
The closest hotel to Kaduqli is فندق الله جابو.
------------------------------
Missing data...Skipping.
------------------------------
The closest hotel to Morro Bay is Inn at Morro Bay.
------------------------------
The closest hotel to Abu Dhabi is Villaggio Hotel & Resort.
------------------------------
The closest hotel to Young is Hotel Young.
------------------------------
The closest hotel to Bonthe is Bonthe Holiday Village.
------------------------------
The closest hotel to Umluj is HP Red Sea Hotel.
------------------------------
The closest hotel to Ratnagiri is Kohinoor Samudra Beach Resort, Ratnagiri.
------------------------------
The closest hotel to Dédougou is Hotel Diarra.
------------------------------
The closest hotel to Kongoussi is Hôtel La Sagesse.
------------------------------

In [26]:
#Checking DataFrame to make sure hotels added

hotel_df

,City,Country,Latitude,Longitude,Cloudiness,Date,Wind,Humidity,Max Temp,Hotel Name
32,Chake Chake,TZ,-5.25,39.77,0,1608498739,6.82,86,78.19,Pemba Island Hotel
103,Viedma,AR,-40.81,-63.00,0,1608498781,1.99,33,77.00,Hotel Austral Viedma
120,Salalah,OM,17.02,54.09,0,1608498784,9.17,38,77.00,InterCityHotel Salalah
133,East London,ZA,-33.02,27.91,0,1608498676,1.83,87,72.77,Blue Lagoon Hotel
174,San Rafael,AR,-34.62,-68.33,0,1608498806,9.64,25,77.23,Tower Inn Hotel & Suites Casino Spa Convention...
178,Saint-Philippe,RE,-21.36,55.77,0,1608498809,8.05,83,77.00,Les Embruns Du Baril
190,Kaduqli,SD,11.02,29.72,0,1608498826,7.29,32,73.99,فندق الله جابو
197,Gouré,NE,13.98,10.27,0,1608498828,4.00,21,73.99,
303,Morro Bay,US,35.37,-120.85,0,1608498877,5.01,29,75.00,Inn at Morro Bay
319,Abu Dhabi,AE,24.47,54.37,0,1608498610,3.36,53,71.60,Villaggio Hotel & Resort
387,Young,UY,-32.68,-57.63,0,1608498935,5.01,35,78.01,Hotel Young
424,Bonthe,SL,7.53,-12.51,0,1608498960,6.20,78,79.54,Bonthe Holiday Village
435,Umluj,SA,25.02,37.27,0,1608498962,9.84,58,73.80,HP Red Sea Hotel
493,Ratnagiri,IN,16.98,73.30,0,1608498988,5.44,43,72.16,"Kohinoor Samudra Beach Resort, Ratnagiri"
524,Dédougou,BF,12.47,-3.47,0,1608499009,6.96,19,78.33,Hotel Diarra
547,Kongoussi,BF,13.33,-1.53,0,1608499013,8.97,21,77.52,Hôtel La Sagesse

<b>NOTE: Do not change any of the code in this cell<br>
Using the template add the hotel marks to the heatmap</b>

In [27]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

<b>Add marker layer on top of heat map</b>

In [28]:
fig = gmaps.figure(map_type="HYBRID")
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(markers)

<b>Display figure.</b>

In [29]:
plt.savefig('images/hotelheatmap')
fig

Figure(layout=FigureLayout(height='420px'))